<!DOCTYPE html>
<html lang="ko">
  <head>
    {{> ../../partials/meta}}
    {{> ../../partials/link}}
    {{> ../../partials/script}}
    <title>Foundation</title>
  </head>
  <body class="page-guide">
    <div class="space-y-[30px]">
      <div>
        <p class="mb-[10px] text-[24px] font-bold">타입</p>
        <button class="{{twBtn 'primary' 'xs'}}">Primary button</button>
        <button class="{{twBtn 'secondary' 'xs'}}">Secondary button</button>
        <button class="{{twBtn 'point' 'xs'}}">Point button</button>
      </div>

      <div>
        <p class="mb-[10px] text-[24px] font-bold">사이즈</p>
        <button class="{{twBtn 'primary' 'xs'}}">XS button</button>
        <button class="{{twBtn 'primary' 'sm'}}">SM button</button>
        <button class="{{twBtn 'primary' 'md'}}">MD button</button>
        <button class="{{twBtn 'primary' 'lg'}}">LG button</button>
      </div>

      <div>
        <p class="mb-[10px] text-[24px] font-bold">상태 : disabled</p>
        <button class="{{twBtn 'primary' 'xs'}}" disabled>Primary 버튼</button>
        <button class="{{twBtn 'secondary' 'xs'}}" disabled>
          Primary 버튼
        </button>
        <button class="{{twBtn 'point' 'xs'}}" disabled>Primary 버튼</button>
      </div>
    </div>
  </body>
</html>
