<div class="InputContainer InputTextContainer InputPasswordContainer {{#if class}}{{class}}{{/if}}" data-state="{{#if error}}error{{else}}valid{{/if}}">
  {{#if label}}
    <div class="InputText__label-wrap">
      <label for="{{ id }}" class="InputText__label">{{ label }}</label>
      {{#if required}}<div class="required-asterisk ml-[4px]"></div>{{/if}}
    </div>
  {{/if}}
  <div class="InputWrapper">
    <input
      type="password"
      name="{{ name }}"
      id="{{ id }}"
      class="InputText input password"
      placeholder="{{ placeholder }}"
      {{#if value}}value={{value}}{{/if}}
      {{#if disabled}}disabled{{/if}}
      {{#if readonly}}readonly tabindex="-1"{{/if}}
      {{#if required}}required{{/if}}
      {{#if maxlength}}maxlength="{{maxlength}}"{{/if}}
      {{#if minlength}}minlength="{{minlength}}"{{/if}}
      {{#if validCondition}}data-valid-condition="{{validCondition}}"{{/if}}
    />
    {{#if addEl}}{{{addEl}}}{{/if}}
    {{#unless readonly}}
    {{#unless disabled}}
    {{#unless hideBtnInputDelete}}
    <button type="button" class="hidden btn-input-delete" tabindex="-1"><span class="sr-only">입력값 삭제</span></button>
    {{/unless}}
    {{/unless}}
    {{/unless}}
  </div>
  {{#if helpText}}
    <p class="Input__help-text">{{ helpText }}</p>
  {{/if}}
</div>
