<div class="InputContainer InputPhoneNumContainer InputTextContainer {{#if class}}{{class}}{{/if}}" data-state="{{#if error}}error{{else}}valid{{/if}}">
  {{#if label}}
    <div class="InputText__label-wrap">
      <label for="{{ id }}" class="InputText__label">{{ label }}</label>
      {{#if required}}<div class="required-asterisk ml-[4px]"></div>{{/if}}
    </div>
  {{/if}}
  <div class="InputWrapper">
    <input
      type="text"
      name="{{ name }}"
      placeholder="휴대폰 번호 (숫자만 입력)"
      aria-label="휴대폰 번호 (숫자만 입력)"
      pattern="[0-9]*"
      inputmode="numeric"
      maxlength="11"
      required
      data-input-only-number="true"
      class="InputPhoneNum input"
      {{#if value}}value={{value}}{{/if}}
      {{#if disabled}}disabled{{/if}}
      {{#if readonly}}readonly tabindex="-1"{{/if}}
      {{#if required}}required{{/if}}
      {{#if validCondition}}data-valid-condition="{{validCondition}}"{{/if}}
    />
    {{#unless readonly}}
    {{#unless disabled}}
    {{#unless hideBtnInputDelete}}
    <button type="button" class="hidden btn-input-delete" tabindex="-1"><span class="sr-only">입력값 삭제</span></button>
    {{/unless}}
    {{/unless}}
    {{/unless}}
  </div>
  {{#if helpText}}
    <p class="Input__help-text">{{ helpText }}</p>
  {{/if}}
</div>
